body¨{background-color: aquamarine;}

.cajas1{
    background-color: rgb(252, 122, 174);
    width: 300px;
    height: 300px;
    float: left;
}

.cajas2{
    background-color: rgb(247, 247, 85);
    width: 300px;
    height: 300px;
    float: left;
}

.cajas3{
    background-color: rgb(96, 206, 247);
    width: 300px;
    height: 300px;
    float: left;
}